@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova-Light.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.otf') format('opentype');
}

body {
  color: #a0a0a0;
  font-family: ProximaNova-Light;
  font-size: 12px;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: #a0a0a0;
  text-decoration: none;
}

a:hover {
  color: #a0a0a0;
}

b {
  color: #dfdfdf;
  font-family: ProximaNova-Regular;
}

.topo {
  margin: auto;
  width: 1000px;
  height: 700px;
}

.img-topo {
  width: 1000px;
}

.links-dates {
  margin: auto;
  width: 1000px;
  min-height: 600px;
}

.links {
  width: 550px;
  display: table-cell;
}

.link-container {
  padding-bottom: 20px;
}

.link {
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.link img {
  vertical-align: middle;
}

.icon {
  border-radius: 64px;
  width: 45px;
  margin-right: 10px;
  transition: all 0.15s;
}

.icon-facebook {
  background-color: #3b5b99;
}

.icon-facebook:hover, .link:hover .icon-facebook {
  background-color: #345383;
}

.icon-facebook:active, .link:active .icon-facebook {
  background-color: #2c466d;
}

.icon-instagram {
  background-color: #3e3f3f;
}

.icon-instagram:hover, .link:hover .icon-instagram {
  background-color: #2d2d2d;
}

.icon-instagram:active, .link:active .icon-instagram {
  background-color: #232323;
}

.icon-soundcloud {
  background-color: #ef7f25;
}

.icon-soundcloud:hover, .link:hover .icon-soundcloud {
  background-color: #ba5d1e;
}

.icon-soundcloud:active, .link:active .icon-soundcloud {
  background-color: #874316;
}

.icon-twitter {
  background-color: #64c6ec;
}

.icon-twitter:hover, .link:hover .icon-twitter {
  background-color: #5ab5d1;
}

.icon-twitter:active, .link:active .icon-twitter {
  background-color: #4f9fb7;
}

.icon-youtube {
  background-color: #bb1d1c;
}

.icon-youtube:hover, .link:hover .icon-youtube {
  background-color: #a01a1a;
}

.icon-youtube:active, .link:active .icon-youtube {
  background-color: #871717;
}

.dates {
  width: 400px;
  display: table-cell;
  height: 400px;
}

.youtube {
  margin: auto;
  width: 853px;
  height: 600px;
}

.contact {
  margin: auto;
  width: 560px;
  height: 100px;
  text-align: center;
}

.designed-by {
  margin: auto;
  width: 560px;
  text-align: center;
  font-size: 10px;
}
